<template lang="pug">
	section
		Field-input(placeholder="Text field")
		br
		Text-area(placeholder="Text area")
		br
		Button(title="Primary") Primary
		Button(title="Accent" type="accent") Accent
		Button(title="Ghost" type="ghost") Ghost
		br
		Icon-button(title="Primary" name="settings")
		Icon-button(title="Accent" type="accent" name="settings")
		Icon-button(title="Ghost" type="ghost" name="settings")
		br
		Radio-input(checked=true name="testgroup")
		Radio-input(name="testgroup")
		br
		Checkbox-input(checked=true)
		Checkbox-input()
		br
		Icon(name="home")
		br
		Card
			h1 Contacts
			h2 Contacts
			h3 Contacts
			h4 Contacts
			h5 Contacts
			h6 Contacts
			p Contacts are greeeeaat
			p.bold Bold Contacts are greeeeaat
			p.italic Italic Contacts are greeeeaat
		Task(title="Buy some milk" description="If they have eggs, buy 10" completed=false id="1")
		Task(title="Buy some milk" description="If they have eggs, buy 10" completed=true id="2")
		Task(title="Buy some milk" completed=true id="3")
		Icon-button(title="Open modal" type="ghost" name="create" @click.native="open_dialog")
		Dialog(:open="dialog_open" :onclose="close_dialog" title="Modal")
			template(slot="content")
				div Just some content
			template(slot="actions")
				Button(title="Primary" @click.native="close_dialog" align="right") Save
				Button(title="Accent" type="accent" @click.native="close_dialog" align="right") Close
</template>

<script lang="ts">
import Vue from 'vue';

import Button from '@/components/button';
import Icon_button from '@/components/icon_button.vue';
import Icon from '@/components/icon.vue';
import Field_input from '@/components/field_input.vue';
import Text_area from '@/components/text_area.vue';
import Card from '@/components/card.vue';
import Radio_input from '@/components/radio_input.vue';
import Checkbox_input from '@/components/checkbox_input.vue';
import Task from '@/components/task';
import Dialog from '@/components/dialog';

export default Vue.extend({
	name: 'style',
	components: {
		Button,
		'Icon-button': Icon_button,
		Icon,
		'Field-input': Field_input,
		'Text-area': Text_area,
		Card,
		'Radio-input': Radio_input,
		'Checkbox-input': Checkbox_input,
		Task,
		Dialog,
	},
	data() {
		return {
			dialog_open: false,
		};
	},
	methods: {
		close_dialog() {
			return this.dialog_open = false;
		},
		open_dialog() {
			return this.dialog_open = true;
		},
	},
});
</script>

<style lang="scss" scoped>
.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}
</style>
