<template lang="pug">
	main
		Card.login-form
			h2 Welcome!
			Field-input(placeholder="Username" v-model="username" :onEnter="authenticate" autofocus)
			Field-input(placeholder="Password" type="password" v-model="password" :onEnter="authenticate").input
			Input-error(:error="error")
			Button(title="Primary" @click.native="authenticate").button Login
			div(style="clear:both")
</template>

<script lang="ts">
import Vue from 'vue';
import _get from 'lodash.get';
import _has from 'lodash.has';
import Card from '@/components/card.vue';
import Field_input from '@/components/field_input.vue';
import Input_error from '@/components/input_error.vue';
import Button from '@/components/button';

export default Vue.extend({
	components: {
		Button,
		Card,
		'Field-input': Field_input,
		'Input-error': Input_error,
	},
	data() {
		return {
			error: '',
			username: null,
			password: null,
		};
	},
	methods: {
		async authenticate() {
			try {
				const response = await this.axios.post('/token', {
					username: this.username,
					password: this.password,
				});

				const token = _get(response, 'data.token', false);
				if (token && token !== '') {
					this.$store.dispatch('log_in', token);
					this.$router.push('/');
				} else {
					this.error = 'Unkown error';
				}
			} catch ({ response }) {
				this.error = _get(response, 'data.error');
			}
		},
	},
});
</script>

<style lang="scss" scoped>
main {
	width: 100%;
	height: 100%;
}

h2 {
	padding: 0 0 0 4px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.login-form {
	box-sizing: border-box;
	max-width: 430px;
	margin: 50px auto 0 auto;
}

.button {
	float: right;
	margin-right: 6px;
}
</style>
