<template lang="pug">
	section
		h1 Settings
		Card.Password-Form
			h3 Upate Password
			Field-input(placeholder="Current password" type="password" v-model="old_password" :onEnter="updatePassword").input.Password-Form--Input
			Field-input(placeholder="New password" type="password" v-model="new_password" :onEnter="updatePassword").input.Password-Form--Input
			Field-input(placeholder="Repeat new password" type="password" v-model="repeat_new_password" :onEnter="updatePassword").input.Password-Form--Input
			Input-error(:error="error")
			Button(title="Primary" @click.native="updatePassword").button.Password-Form--Button Update
			div(style="clear:both")
</template>

<script lang="ts">
import Vue from 'vue';

import Card from '@/components/card.vue';
import Field_input from '@/components/field_input.vue';
import Input_error from '@/components/input_error.vue';
import Button from '@/components/button';

export default Vue.extend({
	components: {
		Button,
		Card,
		'Field-input': Field_input,
		'Input-error': Input_error,
	},
	data() {
		return {
			error: null,
			old_password: '',
			new_password: '',
			repeat_new_password: '',
		};
	},
	methods: {
		async updatePassword(this: any): Promise<void> {
			if (this.new_password !== this.repeat_new_password) {
				this.error = 'New passwords don\'t match';
				return;
			}

			try {
				await this.$axios.$patch('/user', {
					old_password: this.old_password,
					new_password: this.new_password,
				});

				this.old_password = '';
				this.new_password = '';
				this.repeat_new_password = '';
				this.error = null;
			} catch ({ response }) {
				this.error = response.data.error;
			}
		},
	},
});
</script>

<style lang="scss" scoped>
.Password-Form--Input {
	box-sizing: border-box;
	display: block;
	width: calc(100% - 11px);
	margin-top: 15px;
}

.Password-Form--Button {
	float: right;
}
</style>
