<template lang="pug">
	header
		Menu-button(@click.native="toggle_menu").Header--Menu-toggle
		h2 {{ title }}
		Network-status.Header--Network-status
</template>

<script lang="ts">
import Vue from 'vue';
import Menu_button from '@/components/menu_button.vue';
import Network_status from '@/components/network_status';

export default Vue.extend({
	components: {
		'Menu-button': Menu_button,
		'Network-status': Network_status,
	},
	props: {
		title: {
			type: String,
			default: 'Strix',
			required: false,
		},
	},
	methods: {
		toggle_menu() {
			this.$emit('togglemenu');
		},
	},
});
</script>

<style lang="scss" scoped>
@import "@/assets/style/_dimensions.scss";
@import "@/assets/style/_colors.scss";

header {
	width: 100%;
	height: $header-height;
	color: $header-txt-color;
	background-color: $header-bg-color;
}

.Header--Menu-toggle {
	margin-left: 10px;
	vertical-align: top;
	transition: width 400ms, margin 400ms, color 100ms, visibility 0s, opacity 0.5s linear;
}

h2 {
	margin-left: 10px;
	display: inline-block;
	line-height: $header-height;
}

.Header--Network-status {
	float: right;
	margin-right: 15px;
}

@media screen and (min-width: 1200px)  {
	.Header--Menu-toggle {
		width: 0;
		margin-left: 0;
		margin-right: 0;
		visibility: hidden;
		opacity: 0;
	}
}
</style>
