<template lang="pug">
	span
		i {{ name }}
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
	props: {
		name: {
			type: String,
			required: true,
		},
	},
});
</script>

<style lang="scss" scoped>
@import "@/assets/style/_dimensions.scss";

span {
	display: inline-flex;
}

i {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 28px;  /* Preferred icon size */
	display: flex;
	margin: 4px;
	align-self: center;
	width: 100%;
	max-width: 100%;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
</style>
