<template lang="pug">
	img(src="~@/assets/style/icons/128x128.png" :class="size")
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
	props: {
		size: {
			type: String,
			required: false,
			default: 'small',
			validator: (value: string) => (['small', 'medium', 'large'].indexOf(value) !== -1),
		},
	},
});
</script>

<style lang="scss" scoped>
img {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
}
</style>
