<template lang="pug">
	div(v-if="open" @click="onclose_wrapped").Dialog--overlay
		Card.Dialog
			h2.Dialog--title {{ title }}
			div.Dialog--content
				slot(name="content")
			div.Dialog--actions
				slot(name="actions")

</template>

<script lang="ts">
import Vue from 'vue';
import Card from '@/components/card.vue';

export default Vue.extend({
	components: {
		Card,
	},
	props: {
		open: {
			type: Boolean,
			default: false,
			required: false,
		},
		title: {
			type: String,
			default: 'Card',
			required: true,
		},
		onclose: {
			type: Function,
			default: null,
			required: false,
		},
	},
	methods: {
		onclose_wrapped(e: any) {
			if (e.target.className === 'Dialog--overlay') {
				if (this.onclose) {
					this.onclose();
				}
			}
		},
	},
});
</script>

<style lang="scss" scoped>
.Dialog--overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3)
}

.Dialog {
	display: flex;
	flex-basis: 400px;
	height: auto;
}

.Dialog--content {
	margin-top: 10px;
	margin-bottom: 20px;
}

.Dialog--actions button {
	float: right;
}
</style>
